body {
    background-size: cover;
    background-position: center;
}

.heading {
    font-size: 25px;
    width: 100%;
    height: 45px;
    margin: 0px;
    background: skyblue;
    font-family: 'Zen Old Mincho', serif;
    border-radius: 7px;
    text-align: center;
}

#status {
    font-size: 18px;
    font-family: 'Zen Old Mincho', serif;
}

canvas {
    border-width: 10px;
    border-radius: 5px;
    border-color: black;
}